---
layout: base
---
<div class="row">
  <div class="col-md-13 aside3-title">
    <br>
    <h2 id="#identifier">{{ page.title }}</h2>
    {{ page.date | date:"%Y年%m月%d日" }}
  </div>
  <div class="col-md-13 aside3-content">
    <hr>
    <div id="content">
      {{ content }}
    </div>
	<hr>

<div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
<script>
var cloudTieConfig = {
  url: document.location.href, 
  sourceId: "",
  productKey: "c995b8ccc952466da88e06566264412a",
  target: "cloud-tie-wrapper"
};
var yunManualLoad = true;
Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
</script>
  </div>
  <!-- 目录 -->
  <div id="content_table" style="position:fixed;right:20px;top:120px;display:none;">
    <div class="panel panel-success">
      <div class="panel-body" id="nav"></div>
    </div>
  </div>
</div>

